.sideDrawer {

}

.colorfilter{
  height: auto;
    max-width: 100%;
}

.header {
  align-items: center;
    border-bottom-color: rgb(219 219 219/var(--tw-border-opacity));
    border-bottom-width: 1px;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
  
}

.headerText {
  --tw-text-opacity: 1;
    color: rgb(13 6 45/var(--tw-text-opacity));
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    gap: 9px;
    line-height: 1.75rem;
}

.headerText h2 {
  @apply hidden sm:block;
}

.arraow {
  display: block;
}
